body {
  background: #222;
  color: #ddd;
  text-align: center;
  margin:0;
}

.App {
  width: 960px;
  margin: 0 auto;
}

.card{
  padding: 8px 16px;
  background: #1b1b1b;
  margin: 16px 0;
  border-radius: 20px;
}

button:hover {
  color: #000;
  border-color: #fff;
}

.content{
  text-align: left;
}

.card p{
  margin: 6px 0;
  color: #999;
}

.card h3{
  margin: 10px 0;
  color: #ffff57
}